Source: com.github.ma1onso.quotes
Section: x11
Priority: extra
Maintainer: Alonso Enrique <alons45@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev,
               meson,
               libgranite-dev,
               valac (>= 0.16),
               libsoup2.4-dev (>= 2.4),
               libjson-glib-dev (>= 1.0)
Standards-Version: 4.1.1

Package: com.github.ma1onso.quotes
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Get random quotes for daily inspiration
