[Desktop Entry]
Name=Quotes
GenericName=Quotes App
Comment=Get quotes for daily inspiration
Categories=Education;
Exec=com.github.alonsoenrique.quotes
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=Quotes
Keywords=Quotes;Inspiration;
